.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}

.container__footer {
    margin: 0;
    padding: 0;
@media screen and (min-width: 480px) {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

@media screen and (min-width: 768px) {
width: 768px;   
 
}
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        width: 1200px;
    }

}

.contact__footer {
    @media screen and (min-width:480px) {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
   margin: 0;
   margin-bottom: 60px;
    padding: 0;
   }

 @media screen and (min-width:768px) {
//  margin-right: 168px;
    display: block;
}

    @media screen and (min-width: 1200px) {
    display: block;
    text-align: start;
    margin-right: 70px;
    }
}

.addres {
  
    margin-top: 0;
    margin-bottom: 12px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer__list {
    @media screen and (min-width:480px) {
           }

 
   @media screen and (min-width:1200px) {
   display: block;
    margin: 0;
    padding: 0;
   }
 }

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: #2196F3;
    }

    &:focus {
        color: #FFFFFF;
    }

}

// .contact__footer {


// @media screen and (min-width:480px) {
// margin-bottom: 60px;
// }

//     @media screen and (min-width:768px) {
//         margin-right: 168px;
        
//         align-items:center;
//         justify-content: center;
//         text-align: center;

//     }
//     @media screen and (min-width:1200px) {
//        margin-right: 70px;
//        text-align: start;
//     }
// }


.footer__content {
    margin: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
     @media screen and (min-width:1200px) {
        text-align: start;
     }
}


.subscription-footer {

    // @media screen and (min-width:768px) {
    //     display: block;
    //     margin-bottom: 60px;
    // }

    @media screen and (min-width: 1200px) {
        display: block;
     }
}

.subscription-footer__title {
    margin: 0;
    margin-bottom: 20px;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    @media screen and (min-width:1200px) {
        text-align: start;
    }
}

.subscription-footer__label {
    margin-right: 12px;
}

.subscription-footer__mail {
    width: 358px;
    height: 50px;
    padding: 15px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (min-width:480px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width:768px) {
             display: inline-block;
         }
}