.header {
    border-bottom: 1px solid #ECECEC;
    text-align: center;
}

.header__container,
.nav__group,
.nav__list {
    display: flex;
    align-items: center;
}

.nav__list {
    gap: 50px;
    margin: 0;
    margin-right: auto;
}

.header-contact__list {
    display: flex;
    gap: 28px;
    padding-left: 0;
    margin-left: auto;
    justify-content: flex-end;
    color: #757575;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    &:hover,
    &:focus {
        color: #2196f3;
    }

}

.nav__link--current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -2%;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
}

.nav__link--current {
    color: #2196f3;
}


/* email_tel */
.header-contact__link:last-child {
    margin-right: 0;
}

.header-contact__link {
    display: flex;
    align-content: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    &:hover,
    &:focus {
        color: #2196f3;
    }
}

.header__icon-envelope {
    width: 16px;
    height: 12px;

    fill: currentColor;
}

.header__icon-smartphone {
    width: 10px;
    height: 16px;

    fill: currentColor;
}