// header
.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;

    letter-spacing: 0.03em;
}

.logo__dark {
    color: #000000;
}

// footer

.logo-footer {
    display: block;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    margin-bottom: 20px;
}

.logo__white {

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}