.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
    transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;

    background-color: #fff;
    border-radius: 4px;

}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: #757575;
        fill: #2196F3;
    }

}

.modal__icon {
    fill: currentColor;
}

.modal__icon:hover,
.modal__icon:focus {
    fill: #2196F3;
}


.content-register__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
}

.register-form-group {
    margin-bottom: 20px;
    width: 448px;
    height: 342px;
}

.register-form-group__field {
    position: relative;
    display: block;
    text-align: start;
}

.register-form-group__field:not(:last-child) {
    margin-bottom: 10px;
}

.register-form-group__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #757575;

}

.register-form-group__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-right: 30px;
    padding-left: 30px;
    outline: transparent;
    transition-property: border fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: #2196F3;
    }
}

.register-form-group__icon {
    position: absolute;
    bottom: 0;
    left: 12px;
    transform: translateY(-65%);
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.register-form-group__input:focus+.register-form-group__icon,
.register-form-group__input:hover+.register-form-group__icon {
    fill: #2196F3;
}

.register-form-group__input::placeholder {
    opacity: 0;
}

textarea {
    resize: none;
}

.register-form-group__message {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    &:focus,
    &:hover {
        border-color: #2196F3;
        color: #000000;

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.register-form-group__agrement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
}

.icon-unchecked {
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-group__checkbox:checked+.register-form-group__icons .icon-unchecked {
    opacity: 0;
}

.icon-checked {
    opacity: 0;
    fill: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.register-form-group__checkbox:checked+.register-form-group__icons .icon-checked {
    opacity: 1;
}

.register-form__btn {
    display: block;
    margin: 0 auto;
    padding: 10px 52px;
    background-color: #2196F3;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.register-form__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    user-select: none;
}

.register-form__link {
    color: #2196F3;
}