body {
    font-family: 'Roboto', sans-serif;
}

li {
    text-decoration: none;
}

.section {
    margin: auto;

    @media screen and (min-width: 480px),
        (min-width: 768px) {
        padding: 60px 0;
    }


    @media screen and (min-width:1200px) {
        padding: 94px 0;
   }

}