.section__title {
    color: #212121;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 30px;

 
    @media screen and (min-width: 480px), (min-width: 768px) {
    font-size: 28px;
    line-height: 1.17;
    }

    @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    }
 }

.client__list {
    display: flex;
    flex-direction: row-reverse;
     gap: 30px;

    @media screen and (min-width:480) {
        
    }

    @media screen and (min-width:1200px) {
    display: flex;
    }

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: 0;
        border-color: #2196F3;
        color: #2196F3;
    }
}

.client__item {
   
    height: 92px;
    @media screen and (min-width:480px) {
     width: 210px;
    }

    @media screen and (min-width:768px) {
    width: 226px;
    }

    @media screen and (min-width:1200px) {
        width: 170px;
    }    
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: 0;
        border-color: #2196F3;
        color: #2196F3;
    }
}

.client__icon {
    background-repeat: no-repeat;
    align-content: center;
    width: 106px;
    height: 60px;
    fill: currentColor;
}