.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.client__list {
    display: flex;
    gap: 30px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: 0;
        border-color: #2196F3;
        color: #2196F3;
    }
}

.client__item {
    width: 170px;
    height: 92px;
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: 0;
        border-color: #2196F3;
        color: #2196F3;
    }
}

.client__icon {
    background-repeat: no-repeat;
    align-content: center;
    width: 106px;
    height: 60px;
    fill: currentColor;
}