.features__container {
    margin-left: auto;
    }

.features-list:last-child {
    margin-right: 0;
}


.features__list {

margin: 0;
padding: 0;

    
@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;

       }
   }

.features__item:last-child {
    margin-right: 0;
    @media screen and (max-width:479px) {
        margin-bottom: 0;
    }
}

.features__item {
margin-top: 30px;
   margin-bottom: 30px;
   
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 226px;
        margin-top: 0;
             
   } 
   
    @media screen and (min-width: 768px) {
        width: 354px;
        // height: 224px;
      
    
      flex-basis: calc ( ( 100 % - 30 px ) / 2) ;
    }
   
    @media screen and (min-width: 1200px) {
        width: 270px;
        // height: 248px;
        flex-basis: calc ( ( 100 % - 3 * 30 px ) / 4 ) ;
        }
   }

   .features__item:last-child {
    margin-bottom: 0;
   }
.group__features {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 30px;
    height: 120px;

    background-color: #F5F4FA;
    justify-content: center;

    @media screen and (min-width:768px) {
        width: 100%;
    }

    @media screen and (min-width:1200px) {
    width: 270px;
    }

}

.group__features-icon {
    width: 70px;
    height: 70px;
}

h3 {
    margin: 0;
    margin-bottom: 12px;
}

.features__title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;

@media screen and (min-width: 768px) {
    text-align: start;
   
}
    
}

.text1 {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    overflow: hidden;
}