.hero {
    display: block;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 30px;
    width: 696px;
    z-index: 100;
}

.hero-main {

    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #2F303A;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Fon.jpg);
    background-size: cover;

    box-sizing: border-box;
    text-align: center;
}


.hero__title {
    width: 696px;
    margin: auto;
    margin-bottom: 30px;

    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}