.hero {
    display: block;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 30px;
    
    width: 696px;
    z-index: 100;
           
    }

.hero-main {

    padding-top: 118px;
    padding-bottom: 118px;
   
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        background: #2F303A;
       
        box-sizing: border-box;
        text-align: center;
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/price/img_mb-@1x.png);

        background-position: 50% 50%;
        background-size: cover;

        
        

        @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/price/img_mb-@2x.png);
                    }
                
   

    // tablet image 
    @media screen and (min-width:481px) {
                        
                        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/price/img_tb-@1x.png);
                        
                
                        @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/price/img_tb-@2x.png);
                        }
                    }
                
                    @media screen and (min-width:769px) {
                        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/price/img_ds-@1x.png);
                
                        @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/price/img_ds-@2x.png);
                        }
                    }

    // @media screen and (max-width: 480px) {
    //     max-width: 480px;
    //     height: 400;
    // }

    @media screen and(min-width: 768px) {
        max-width: 768px;
        }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
            height: 600px;
            padding-top: 200px;
            padding-bottom: 200px;
    }
  
}


.hero__title {
    margin: auto;
    margin-bottom: 30px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width:768px) {
        width: 360px;
    }

@media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.4;
    }
}

   