 .project__list {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
 }

 .project-thumb {
     position: relative;
     overflow: hidden;

 }

 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     padding: 63px 24px;
     background: rgba(33, 150, 243, 0.9);

     display: flex;
     align-items: center;
     justify-content: center;
     transform: translateY(100%);

     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

 }

 .overlay-text {
     font-weight: 400;
     font-size: 18px;
     line-height: 1.5;
     letter-spacing: 0.03em;
     color: #fff;
 }

 .project__item {
     width: 370px;
 }

 .project__item:hover .overlay {
     transform: translateY(0);
 }

 .project__link {
     display: block;
     text-decoration: none;


     transition-property: box-shadow;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .project__link:focus .overlay {
     transform: translateY(0);
     border: 1px solid #EEEEEE;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
 }

 .project__link:hover,
 .project__link:focus {
     border: 1px solid #EEEEEE;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
 }

 .project__box {

     padding-top: 20px;
     padding-right: 24px;
     padding-left: 24px;
     padding-bottom: 20px;

     border: 1px solid #EEEEEE;
     border-top: 0;
 }


 .project__subtitle {
     margin: 0;
     margin-bottom: 4px;
     padding: 0;


     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: #212121;

 }

 .text {
     padding: 0;
     margin: 0;
     font-size: 16px;
     line-height: 1.9;
     letter-spacing: 0.03em;
     color: #757575;

 }