.team {
    background-color: #F5F4FA;
    border-radius: 4px;
}

.team__list {
    display: flex;
    padding-left: 0;
    gap: 30px;
}

.team__item {
    display: block;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.team__item,
.team__img {

    border-radius: 0px;
}

.team-subject {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-subject__item {
    margin-bottom: 10px;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.team__text {
    margin-top: 0;
    margin-bottom: 16px;

    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}