.work {
    padding-top: 0;
}

.work__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.work__list {
    display: flex;
    padding-left: 0;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.work__item:last-child {
    margin-right: 0;
}

.work__item {
    margin-right: 30px;
}

.work-thumb {
    position: relative;
}

.overlay-work {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.overlay-work__text {
    margin: 0;
}